# Module 2 — Data Types Review

This notebook contains the example code from the “Data Types” instructional material.

## Basic Numeric Operations

In [ ]:
print(7 + 8)

## String Concatenation

In [ ]:
print("hello " + "world")

## Mixing Types (This will cause an error)

In [ ]:
print(7 + "8")
# this will throw an error

## Checking Data Types

In [ ]:
print(type("a"))
print(type(2))
print(type(2.5))